* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.hoverPointing,.hoverPointingCountry{
  padding: 1%;
  cursor: pointer;
}

.hoverPointingCountry:hover {
  border: 1px solid #fff;
  margin: 5px;
  padding:16px 10px;
}
.hoverPointing:hover {
  border: 1px solid #fff;
  padding: 9px;
  margin: 5px;
}
