* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  width: 100%;
}
.main {
  width: 75%;
  margin: auto;
}
/* Header Section start */
.passport_Header {
  display: flex;
  flex-direction: row;
  border: 2px solid pink;
}
.image_Passport {
  padding: 2% 1% 0 1%;
}
.image_Passport img {
  width: 5rem;
}
.Header_mid_Section .heading-third,
.heading-forth {
  text-align: center;
}
.heading-third {
  padding-top: 0.1rem;
}
.heading-forth {
  font-size: 1.1rem;
  word-spacing: 2px;
  padding: 0;
  margin: 0;
}
.Passport_details_header {
  word-spacing: 2px;
  padding-bottom: 1%;
  text-align: justify;
}
/* Header Section end */

.Ser_Reqd,
.heading-four {
  background-color: rgb(170, 167, 167);
  padding: 4px;
}
.ApplyFor {
  width: 55%;
}
.normalTatkaal {
  padding: 0 2%;
  position: absolute;
  left: 28%;
}
.radioBtn {
  padding: 1px !important;
  margin: 1px !important;
}
.normal {
  padding: 6px !important;
}
.nameSectionForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.labelAlignMent {
  display: flex;
  width: 50%;
  padding: 0%;
  margin: 0%;
  justify-content: space-between;
}

.label,
.labelInput {
  font-weight: 700;
}
.inputField {
  width: 60%;
}
option {
  font-weight: 700;
}
.Applicant_Width {
  width: 100%;
}
label,
input,
select,
h4 {
  margin: 4px;
  padding: 3px;
}
.margin-right-1 {
  margin-right: 75px;
}
.first-label {
  margin-right: 15%;
}
.select-0 {
  width: 55%;
}
.select-1 {
  width: 20%;
}
input,
select {
  background-color: rgb(235, 240, 254);
}
.image {
  padding: 10px;
}
.heading-third,
.heading-forth {
  font-weight: 800;
  text-align: center;
  font-size: larger;
  color: rgb(12, 12, 12);
}
.margin-between {
  margin-right: 150px;
}
.details{
  display: flex
}
.para {
  font-weight: 600;
}
.heading-3 {
  background-color: rgb(170, 167, 167);
  padding: 4px;
}
.option {
  white-space: wrap;
  overflow: scroll;
  border: 1px solid blue;
  width: 40%;
  padding: 0 50%;
}
.width {
  width: 99%;
}
.para1 {
  float: left;
}
.con-Para {
  width: 80%;
}
.con-Para-1 {
  padding-right: 180px;
}
.con-Para-2 {
  padding-right: 290px;
}

.radio {
  float: right;
  margin-top: -38px;
}
.radio-1 {
  float: right;
  margin-top: -20px;
}
.radio-2 {
  float: right;
  margin-top: -5px;
}
.radio-3 {
  float: right;
  margin-top: -5px;
}
.border-part {
  border: 1px solid black;
  padding: 5px;
}
.last-div {
  border: 1px solid black;
}
.btn {
  padding: 10px;
  border-radius: 1px;
  margin: 4px;
  text-transform: uppercase;
  background-color: rgb(170, 167, 167);
  font-weight: 600;
  font-size: 1rem;
}
/* media query */
@media screen and (min-width: 1px) and (max-width: 278px) {
}
@media screen and (min-width: 279px) and (max-width: 479px) {
  
    html{
      font-size: 10px;
    }
    .main {
      width: 95%;
      margin: auto;
    }
    /* Header Section start */
    .passport_Header {
      display: flex;
      flex-direction: row;
      border: 2px solid pink;
      width: 100%;
    }
    .image_Passport {
      padding: 12% 1% 0 1%;
      width: 13%;
    }
    .image_Passport img {
      width: 3.5rem;
    }
    .heading-third {
      padding-top: 0.1rem;    font-size: 1.1rem;
      line-height: 1rem;
    }
    .heading-forth {
      font-size: 1rem;
      line-height: 15px;
      word-spacing: 2px;
      padding: 0;
      margin: 0;
    }
    .Header_mid_Section {
  width: 86%;
    }
    .Passport_details_header {
      font-size: 8px;
      line-height: 10px;
      word-spacing: -1px;
      padding-bottom: 1%;
      text-align: justify;
    }
    /* Header Section end */
    
    .Ser_Reqd,
    .heading-four {
      background-color: rgb(170, 167, 167);
      padding: 3px;
    }
    .ApplyFor {
      width: 80%;
    }
    .normalTatkaal {
      padding: 0 2%;
      position: absolute;
      left: 49%;
      top: 20%;
    }
    .radioBtn {
      padding: 1px !important;
      margin: 1px !important;
    }
    .normal {
      padding: 6px !important;
    }
    .nameSectionForm {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .gender{
      width: 35%;    height: 1.5rem;
    }
    .labelAlignMent {
      display: flex;
    width: 100%;
    padding: 0%;
    margin: 0;
    justify-content: space-between;
    }
    .labelAlignMent div{
      width: 35%;
    }
    .padding-right{
      padding-right: 7%;
    }
    .inputReq{
      width: 74%;      height: 1.5rem; 
    }
  .Marital,.Citizenship,.inputReqPan,.inputReqVoter{
    width: 20.5%;    height: 1.5rem;
  }
  .dateOfBirth{
    height: 1.5rem;
  }
  .email,.Zip,#Telephone-Number,.emp,#Address,.Educational,.eligible,.inputReqAdhar,.inputReqVisible,.Citizenship1, #Town-city,.Region,.state,.District,.numberMB,.mb{
      width: 99%;    height: 1.5rem;
    }
    .label,
    .labelInput {
      font-weight: 700;
    }
    .labelInput{
      width: 80%;
    }
    .inputField {
      width: 60%;
    }
    option {
      font-weight: 700;
    }
    .Applicant_Width {
      width: 100%;
    }
    label,
    input,
    select,
    h4 {
      margin: 2px;
      padding: 1px;
    }
    .margin-right-1 {
      margin-right: 75px;
    }
    .first-label {
      margin-right: 0%;
    }
    .select-0 {
      width: 60%;
      height: 1.5rem;
    }
  
    input,
    select {
      background-color: rgb(235, 240, 254);
    }
    .image {
      padding: 10px;
    }
    .details{
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .detailsSection{
     width: 100%;
    }
    .margin-between {
      margin-right:0;
    }
    .para {
      font-weight: 600;
    }
    .heading-3 {
      background-color: rgb(170, 167, 167);
      padding: 4px;
    }
    .option {
      white-space: wrap;
      overflow: scroll;
      border: 1px solid blue;
      width: 40%;
      padding: 0 50%;
    }
  
    .width {
      width: 99%;
      height: 1.5rem;
    }
    .para1 {
      float: left;
    }
    .con-Para,.con-Para-1,.con-Para-2,.con-Para-3 {
      width: 100%;
      padding-right: 0;    text-align: justify;
    }
     
    
    .radio {
      float: right;
      margin-top: -15px;
    }
       .radio-1{
        float: right;
        margin-top: -15px;
      }  
        .radio-2{
      float: right;
      margin-top: -2px;
    }
    .radio-3{
      float: right;
      margin-top: -6px;
    }
    #radio-4,#radio-5{
      float: right;
      margin-top: -3px;
    }
   .border-part {
      border: 1px solid black;
      padding: 5px;
    }
    .last-div {
      border: 1px solid black;
    }
    .btn {
      padding: 10px;
      border-radius: 1px;
      margin: 4px;
      text-transform: uppercase;
      background-color: rgb(170, 167, 167);
      font-weight: 600;
      font-size: 1rem;
    }
   
  }
@media screen and (min-width: 480px) and (max-width: 767px) {
  html{
    font-size: 12px;
  }
  .main {
    width: 95%;
    margin: auto;
  }
  /* Header Section start */
  .passport_Header {
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
    width: 100%;
  }
  .image_Passport {
    padding: 6% 1% 0 1%;
    width: 13%;
  }
  .image_Passport img {
    width: 3.5rem;
  }
  .heading-third {
    padding-top: 0.1rem;    font-size: 1.1rem;
    line-height: 1rem;
  }
  .heading-forth {
    font-size: 1rem;
    line-height: 15px;
    word-spacing: 2px;
    padding: 0;
    margin: 0;
  }
  .Header_mid_Section {
width: 86%;
  }
  .Passport_details_header {
    font-size: 11px;
    line-height: 12px;
    word-spacing: 2px;
    padding-bottom: 1%;
    text-align: justify;
  }
  /* Header Section end */
  
  .Ser_Reqd,
  .heading-four {
    background-color: rgb(170, 167, 167);
    padding: 3px;
  }
  .ApplyFor {
    width: 80%;
  }
  .normalTatkaal {
    padding: 0 2%;
    position: absolute;
    left: 40%;
    top: 22%;
  }
  .radioBtn {
    padding: 1px !important;
    margin: 1px !important;
  }
  .normal {
    padding: 6px !important;
  }
  .nameSectionForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gender{
    width: 35%;
  }
  .labelAlignMent {
    display: flex;
    width: 80%;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
  }
  .inputReq{
    width: 72%;   
  }

  .mb,.Marital,.inputReqPan,.inputReqVoter,.Citizenship,#Town-city,.Region{
    width: 27.5%;
  }
  .state,.District{
width: 31%;
  }
  .numberMB,.Zip{
    width: 34%;
  }
  .emp,#Address,.Educational,.eligible,.inputReqAdhar,.inputReqVisible,.Citizenship1{
    width: 99%;
  }
  .email{
    width: 65%;
  }

  .label,
  .labelInput {
    font-weight: 700;
  }
  .inputField {
    width: 60%;
  }
  option {
    font-weight: 700;
  }
  .Applicant_Width {
    width: 100%;
  }
  label,
  input,
  select,
  h4 {
    margin: 2px;
    padding: 1px;
  }
  .margin-right-1 {
    margin-right: 75px;
  }
  .first-label {
    margin-right: 15%;
  }
  .select-0 {
    width: 55%;
  }

  input,
  select {
    background-color: rgb(235, 240, 254);
  }
  .image {
    padding: 10px;
  }
  .heading-third,
  .heading-forth {
    font-weight: 800;
    text-align: center;
    font-size: larger;
    color: rgb(12, 12, 12);
  }
  .details{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .detailsSection{
   width: 100%;
  }
  .margin-between {
    margin-right:0;
  }
  .para {
    font-weight: 600;
  }
  .heading-3 {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .option {
    white-space: wrap;
    overflow: scroll;
    border: 1px solid blue;
    width: 40%;
    padding: 0 50%;
  }

  .width {
    width: 99%;
  }
  .para1 {
    width: 88%;
    float: left;
  }
  .con-Para,.con-Para-1,.con-Para-2,.con-Para-3 {
    width: 90%;
    padding-right: 0;
  }
   
  
  .radio {
    width: 13%;
    float: right;
    margin-top: -24px;
  }
  .radio-1 {
    width: 13%;
    float: right;
    margin-top: -28px;
  }
  .radio-2 {
    width: 13%;
    float: right;
    margin-top: -20px;
  }
  .radio-3 {
    width: 13%;
    float: right;
    margin-top: -12px;
  }
  .border-part {
    border: 1px solid black;
    padding: 5px;
  }
  .last-div {
    border: 1px solid black;
  }
  .btn {
    padding: 10px;
    border-radius: 1px;
    margin: 4px;
    text-transform: uppercase;
    background-color: rgb(170, 167, 167);
    font-weight: 600;
    font-size: 1rem;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 1023px) {

  form {
    width: 100%;
  }
  .main {
    width: 75%;
    margin: auto;
  }
  /* Header Section start */
  .passport_Header {
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
    width: 100%;
  }
  .image_Passport {
    padding: 3% 1% 0 1%;
    width: 13%;
  }
  .image_Passport img {
    width: 3.5rem;
  }
  .Header_mid_Section .heading-third,
  .heading-forth {
    text-align: center;
  }
  .heading-third {
    padding-top: 0.1rem;    font-size: 1.1rem;
    line-height: 1rem;
  }
  .heading-forth {
    font-size: 1rem;
    word-spacing: 2px;
    padding: 0;
    margin: 0;
  }
  .Header_mid_Section {
width: 86%;
  }
  .Passport_details_header {
    font-size: 12px;
    line-height: 13px;
    word-spacing: 2px;
    padding-bottom: 1%;
    text-align: justify;
  }
  /* Header Section end */
  
  .Ser_Reqd,
  .heading-four {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .ApplyFor {
    width: 80%;
  }
  .normalTatkaal {
    padding: 0 2%;
    position: absolute;
    left: 40%;
    top: 22%;
  }
  .radioBtn {
    padding: 1px !important;
    margin: 1px !important;
  }
  .normal {
    padding: 6px !important;
  }
  .nameSectionForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gender{
    width: 35%;
  }
  .labelAlignMent {
    display: flex;
    width: 80%;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
  }
  .inputReq{
    width: 63%;   
  }

  .mb,.Marital,.inputReqPan,.inputReqVoter,.Citizenship,#Town-city,.Region{
    width: 20%;
  }
  .state,.District{
width: 24%;
  }
  .numberMB,.Zip{
    width: 27.3%;
  }
  #Address,.Educational,.eligible,.inputReqAdhar,.inputReqVisible,.Citizenship1{
    width: 98%;
  }
  .email{
    width: 60%;
  }

  .label,
  .labelInput {
    font-weight: 700;
  }
  .inputField {
    width: 60%;
  }
  option {
    font-weight: 700;
  }
  .Applicant_Width {
    width: 100%;
  }
  label,
  input,
  select,
  h4 {
    margin: 4px;
    padding: 3px;
  }
  .margin-right-1 {
    margin-right: 75px;
  }
  .first-label {
    margin-right: 15%;
  }
  .select-0 {
    width: 55%;
  }
  .select-1 {
    width: 70%;
  }

  input,
  select {
    background-color: rgb(235, 240, 254);
  }
  .image {
    padding: 10px;
  }
  .heading-third,
  .heading-forth {
    font-weight: 800;
    text-align: center;
    font-size: larger;
    color: rgb(12, 12, 12);
  }
  .details{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .detailsSection{
   width: 100%;
  }
  .margin-between {
    margin-right:0;
  }
  .para {
    font-weight: 600;
  }
  .heading-3 {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .option {
    white-space: wrap;
    overflow: scroll;
    border: 1px solid blue;
    width: 40%;
    padding: 0 50%;
  }

  .width {
    width: 99%;
  }
  .para1 {
    float: left;
  }
  .con-Para {
    width: 90%;
  }
  .con-Para-1 {
    padding-right: 180px;
  }
  .con-Para-2 {
    padding-right: 290px;
  }
  
  .radio {
    float: right;
    margin-top: -38px;
  }
  .radio-1 {
    float: right;
    margin-top: -20px;
  }
  .radio-2 {
    float: right;
    margin-top: -5px;
  }
  .radio-3 {
    float: right;
    margin-top: -5px;
  }
  .border-part {
    border: 1px solid black;
    padding: 5px;
  }
  .last-div {
    border: 1px solid black;
  }
  .btn {
    padding: 10px;
    border-radius: 1px;
    margin: 4px;
    text-transform: uppercase;
    background-color: rgb(170, 167, 167);
    font-weight: 600;
    font-size: 1rem;
  }
}@media screen and (min-width: 1024px) and (max-width: 1219px) {
 
  .main {
    width: 75%;
    margin: auto;
  }
  /* Header Section start */
  .passport_Header {
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
  }
  .image_Passport {
    padding: 2% 1% 0 1%;
  }
  .image_Passport img {
    width: 5rem;
  }
  .Header_mid_Section .heading-third,
  .heading-forth {
    text-align: center;
  }
  .heading-third {
    padding-top: 0.1rem;
  }
  .heading-forth {
    font-size: 1.1rem;
    word-spacing: 2px;
    padding: 0;
    margin: 0;
  }
  .Passport_details_header {
    word-spacing: 2px;
    padding: 0 1% 1% 0;
    text-align: justify;
  }
  /* Header Section end */
  
  .Ser_Reqd,
  .heading-four {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .ApplyFor {
    width: 55%;
  }
  .normalTatkaal {
    padding: 0 2%;
    position: absolute;
    left: 28%;
  }
  .radioBtn {
    padding: 1px !important;
    margin: 1px !important;
  }
  .normal {
    padding: 6px !important;
  }
  .nameSectionForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .labelAlignMent {
    display: flex;
    width: 65%;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
  }
  .details{
    display: flex
  }
  .label,
  .labelInput {
    font-weight: 700;
  }
  .inputField {
    width: 60%;
  }
  option {
    font-weight: 700;
  }
  .Applicant_Width {
    width: 100%;
  }
  label,
  input,
  select,
  h4 {
    margin: 4px;
    padding: 3px;
  }
  .margin-right-1 {
    margin-right: 75px;
  }
  .first-label {
    margin-right: 15%;
  }
  .select-0 {
    width: 55%;
  }
  .select-1 {
    width: 40%;
  }
  .Educational{
    width: 11%;
  }
  .Citizenship{
    width: 13%;
  }
  #Address{
    width: 90%;
  }
 
    #Town-city,.Region{
      width: 23.5%;
  }
  .state,.District{
    width: 27%;
}
.Zip,.numberMB{
  width: 30.5%;
}
  input,
  select {
    background-color: rgb(235, 240, 254);
  }
  .image {
    padding: 10px;
  }
  .heading-third,
  .heading-forth {
    font-weight: 800;
    text-align: center;
    font-size: larger;
    color: rgb(12, 12, 12);
  }
  .margin-between {
    margin-right: 150px;
  }
  .para {
    font-weight: 600;
  }
  .heading-3 {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .option {
    white-space: wrap;
    overflow: scroll;
    border: 1px solid blue;
    width: 40%;
    padding: 0 50%;
  }
  .width {
    width: 99%;
  }
  .para1 {
    float: left;
  }
  .con-Para {
    width: 80%;
  }
  .con-Para-1 {
    padding-right: 180px;
  }
  .con-Para-2 {
    padding-right: 290px;
  }
  
  .radio {
    float: right;
    margin-top: -38px;
  }
  .radio-1 {
    float: right;
    margin-top: -20px;
  }
  .radio-2 {
    float: right;
    margin-top: -5px;
  }
  .radio-3 {
    float: right;
    margin-top: -5px;
  }
  .border-part {
    border: 1px solid black;
    padding: 5px;
  }
  .last-div {
    border: 1px solid black;
  }
  .btn {
    padding: 10px;
    border-radius: 1px;
    margin: 4px;
    text-transform: uppercase;
    background-color: rgb(170, 167, 167);
    font-weight: 600;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1220px) and (max-width: 1919px) {
 
  .main {
    width: 75%;
    margin: auto;
  }
  /* Header Section start */
  .passport_Header {
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
  }
  .image_Passport {
    padding: 2% 1% 0 1%;
  }
  .image_Passport img {
    width: 5rem;
  }
  .Header_mid_Section .heading-third,
  .heading-forth {
    text-align: center;
  }
  .heading-third {
    padding-top: 0.1rem;
  }
  .heading-forth {
    font-size: 1.1rem;
    word-spacing: 2px;
    padding: 0;
    margin: 0;
  }
  .Passport_details_header {
    word-spacing: 2px;
    padding: 0 1% 1% 0;
    text-align: justify;
  }
  /* Header Section end */
  
  .Ser_Reqd,
  .heading-four {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .ApplyFor {
    width: 55%;
  }
  .normalTatkaal {
    padding: 0 2%;
    position: absolute;
    left: 28%;
  }
  .radioBtn {
    padding: 1px !important;
    margin: 1px !important;
  }
  .normal {
    padding: 6px !important;
  }
  .nameSectionForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .labelAlignMent {
    display: flex;
    width: 50%;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
  }
  
  .label,
  .labelInput {
    font-weight: 700;
  }
  .inputField {
    width: 60%;
  }
  option {
    font-weight: 700;
  }
  .Applicant_Width {
    width: 100%;
  }
  label,
  input,
  select,
  h4 {
    margin: 4px;
    padding: 3px;
  }
  .margin-right-1 {
    margin-right: 75px;
  }
  .first-label {
    margin-right: 15%;
  }
  .select-0 {
    width: 55%;
  }
  .select-1 {
    width: 20%;
  }
  input,
  select {
    background-color: rgb(235, 240, 254);
  }
  .image {
    padding: 10px;
  }
  .heading-third,
  .heading-forth {
    font-weight: 800;
    text-align: center;
    font-size: larger;
    color: rgb(12, 12, 12);
  }
  .margin-between {
    margin-right: 150px;
  }
  .para {
    font-weight: 600;
  }
  .heading-3 {
    background-color: rgb(170, 167, 167);
    padding: 4px;
  }
  .option {
    white-space: wrap;
    overflow: scroll;
    border: 1px solid blue;
    width: 40%;
    padding: 0 50%;
  }
  .width {
    width: 99%;
  }
  .details{
    display: flex
  }
  .para1 {
    float: left;
  }
  .con-Para {
    width: 80%;
  }
  .con-Para-1 {
    padding-right: 180px;
  }
  .con-Para-2 {
    padding-right: 290px;
  }
  
  .radio {
    float: right;
    margin-top: -38px;
  }
  .radio-1 {
    float: right;
    margin-top: -20px;
  }
  .radio-2 {
    float: right;
    margin-top: -5px;
  }
  .radio-3 {
    float: right;
    margin-top: -5px;
  }
  .border-part {
    border: 1px solid black;
    padding: 5px;
  }
  .last-div {
    border: 1px solid black;
  }
  .btn {
    padding: 10px;
    border-radius: 1px;
    margin: 4px;
    text-transform: uppercase;
    background-color: rgb(170, 167, 167);
    font-weight: 600;
    font-size: 1rem;
  }
}